// Specific CSS for your home-page

// Banner
.home-video-wrapper {
  height: 91vh;
  display: flex;
  flex-direction: column;
}

.dark-cover {
  width: 100vw;
  height: 91vh;
  position: absolute;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.4);
}

.home_video {
  width: 100vw;
  height: 91vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -2;
}

h1.home {
  color: white;
  font-family: Poppins;
  font-weight: bold;
  font-size: 60px;
  padding-top: 17.5vh;
  padding-right: 45vw;
  margin-left: 7vw;
  z-index: 1;
}

p.description {
  color: white;
  font-family: Poppins;
  font-weight: 200;
  font-size: 24.4px;
  margin-left: 7vw;
  z-index: 1;
}

.banner-button {
  background-color: #d9bd54;
  width: 190px;
  height: 50px;
  border-radius: 27px;
  margin-left: 7vw;
  z-index: 1;
  padding-top: 1.3vh;

  &:hover {
    background-color: $dark-green;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
  }

  a:hover {
    text-decoration: none;
  }

  .dish {
    font-size: 2vw;
    padding-bottom: 0.4vh;
  }

  p {
    margin: 0;
    font-family: Poppins;
    font-weight: 600;
  }
}

//Info Under Banner
.landing-info {
  height: fit-content;
  width: 100vw;
  background-image: asset-url('oriental.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;

  h2 {
    font-family: Poppins;
    font-weight: bold;
    color: $dark-green;
  }

  .info-header {
    display: flex;
    align-items: center;
    margin-top: 3vh;

    .logo-info {
      width: 90px;
    }

    .info-header-bar {
      background-color: $dark-green;
      height: 7px;
      width: 77px;
      border-radius: 50px;
    }
  }
}

.bottom {
  padding-bottom: 50px;
}

//Info cards undder banner
.info-cards-container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;

  .card {
    background-color: transparent;
    border-style: none;
    display: flex;
    align-items: center;
  }
  .card-icon {
    position: absolute;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 80px;
  }

  .green {
    background-color: $dark-green;
  }

  .gold {
    background-color: $gold;
  }

  .card-info {
    background-color: white;
    margin-top: 9vh;
    border-radius: 16px;
    text-align: center;
    padding-top: 80px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;

    h2 {
      color: black;
    }
  }
}

.size {
  width: 280px;
  height: 270px;
}

@media only screen and (max-width: 1200px) {
  .info-cards-container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 330px;
  }
  h1.home {
    font-size: 6vw;
    padding-right: 0;
    margin-bottom: 5vh;
  }
  p.description {
    font-size: 3vw;
    margin-bottom: 5vh;
    padding-right: 0;
  }
}
