// Specific CSS for your home-page
.home-video-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dark-cover {
   width: 98.7vw;
   height: 100vh;
   position: absolute;
   object-fit: cover;
   background-color: rgba(0,0,0,0.4);
}

.home_video {
  width: 98.7vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -2;
}


h1.home {
  color: white;
  font-family: Poppins;
  font-weight: bold;
  font-size: 61px;
  padding-top: 20vh;
  padding-right: 41vw;
  margin-left: 10vw;
  z-index: 1;
}

p.description {
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 25px;
    padding-right: 40vw;
    margin-left: 10vw;
    z-index: 1;
}

.banner-button {
  background-color: #D9BD54;
  width: 247px;
  height: 66px;
  border-radius: 50px;
  margin-left: 9vw;
  z-index: 1;
  padding-top: 0.5vh;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 23px;
  }

  a:hover {
    text-decoration: none;
  }

  .dish {
    font-size: 47px;
    padding-bottom: 1.8vh;
  }

  p {
    margin: 0;
    font-family: Poppins;
    font-weight: 600;
  }
}
