// Specific CSS for your home-page

// Banner
.home-video-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dark-cover {
  width: 98.99vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  background-color: rgba(0,0,0,0.4);
}

.home_video {
  width: 98.99vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -2;
}


h1.home {
  color: white;
  font-family: Poppins;
  font-weight: bold;
  font-size: 50px;
  padding-top: 18.5vh;
  padding-right: 51vw;
  margin-left: 10vw;
  z-index: 1;
}

p.description {
  color: white;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20.4px;
  padding-right: 50vw;
  margin-left: 10vw;
  z-index: 1;
}

.banner-button {
  background-color: #D9BD54;
  width: 190px;
  height: 36px;
  border-radius: 50px;
  margin-left: 9.5vw;
  z-index: 1;
  padding-top: 0.5vh;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
  }

  a:hover {
    text-decoration: none;
  }

  .dish {
    font-size: 2vw;
    padding-bottom: 0.4vh;
  }

  p {
    margin: 0;
    font-family: Poppins;
    font-weight: 600;
  }
}

//Info Under Banner
.landing-info {
  height: 100vh;
  width: 98.99vw;
  background-image: asset-url("oriental.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;

  h2 {
    font-family: Poppins;
    font-weight: bold;
  }

  .info-header {
    display: flex;
    align-items: center;

    .logo-info {
      width: 90px;
    }

    .info-header-bar {
      background-color: black;
      height: 7px;
      width: 77px;
      border-radius: 50px;
    }
  }
}

//Info cards undder banner
.info-cards-container {
  width: 98vw;
  margin: 10vh;
  padding: 0 5vw;
  display: flex;
  justify-content: space-around;

  .card {
    width: 277px;
    height: 327px;
    background-color: transparent;
    border-style: none;
    display: flex;
    align-items: center;
  }
  .card-icon {
    position: absolute;
    height: 125px;
    width: 125px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 80px;
  }

  .card-info {
    background-color: white;
    width: 19vw;
    height: 39vh;
    margin-top: 9vh;
    border-radius: 16px;
    text-align: center;
    padding-top: 5vw;
  }
}
