<div class="my_bookings">
  <div class="container">
    <h2>Find Details About Your Upcoming Bookings Below</h2>
    <% @bookings.each do |booking| %>
      <div class="card">
        <h3><%= booking.course.title %></h3>
        Where? <%= booking.location %> When? <%= booking.start_time %>
      </div>
    <% end %>
  </div>
</div>
