<div class="home-video-wrapper">
  <div class="dark-cover">
    <%= video_tag "sprinkle.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  </div>

  <h1 class="home">Turn Your Kitchen Into Your Next Favourite Restaurant</h1>
  <p class="description">Book our personal chef service for dinner parties and weekly meal-prep</p>
</div>
