<div class="home-video-wrapper">
  <div class="dark-cover">
    <%= video_tag "sprinkle.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  </div>

  <h1 class="home">Turn Your Kitchen Into Your Next Favourite Restaurant</h1>
  <p class="description">Book our personal chef service for dinner parties and weekly meal-prep</p>


  <div class="banner-button">
    <%= link_to courses_path do %>
        <i class='bx bxs-dish dish'></i>
      <p>Take a look</p>
    <% end %>
  </div>
</div>

<div class="landing-info">
  <h2>how does it work?</h2>
  <div class="info-header">
    <div class="info-header-bar"></div>
    <%= image_tag "chef.png", {class: "logo-info"} %>
    <div class="info-header-bar"></div>
  </div>
  <div class="info-card">

  </div>
</div>
