<div class="page-body">
  <div class="main"> 
    <div id="pending-reservations" class="main-container row">
      <div id="profile" class="pending col-6">
        <%# <%= image_tag "chef-avatar.png", class: "avatar-square" %>
        <div class="chef-name">
          <div class="chef-avatar"></div>
          <div class="text-details">
            <p id="first">Massimo</p>
            <p id="last">Rossi</p>
            <p id="edit">Edit</p>
          </div>
        </div>
        <div class="chef-details">
          <p id="details-title">Preferred Contact:</p>
          <p>massimo.rossi@gmail.com</p>
        </div>
      </div>

      <div id="pending" class="reservations col-6">
        <h2>Pending Reservations</h2>
        <div class="pending-card">
          <div class="pending-title">
            <h5>Tuna Steak Course</h5>
            <p>Requested by: Linda Evangelista</p>
          </div>
          <h5 id="date">14 February 2021</h5>
        </div>
        <div class="pending-card">
          <div class="pending-title">
            <h5>Tuna Steak Course</h5>
            <p>Requested by: Linda Evangelista</p>
          </div>
          <h5 id="date">14 February 2021</h5>
        </div>
      </div>
    </div>

    <div id="approved-reservations" class="main-container row">
      <div class="map col-6">
      </div>

      <div id="approved" class="reservations col-6">
        <h2>Upcoming Reservations</h2>
        <div class="approved-card">
          <div class="approved-image">
          </div>
          <div class="approved-body">
            <div class="title">
              <div class="customer-info">
                <h5>Tuna Steak Course</h5>
                <p>Booked by: Linda Evangelista</p>
              </div>
              <div class="customer-avatar"></div>
            </div>
            <div class="details">
              <p>Date: 14 February 2021</p>
              <p>Participants: 2</p>
              <p id="status">Status: <span>Approved</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="my-courses" class="main-container">
      
    </div>
  </div>
</div>
