<div class="page-body">
  <div class="main"> 
    <div id="pending-reservations" class="main-container row">
      <div id="profile" class="pending col-6">
        <%= image_tag "chef-avatar.png", class: "avatar-square" %>
        <div class="chef-name">
          <p>Massimo</p>
          <p>Rossi</p>
          <p>Edit</p>
        </div>
        <div class="chef-details">
          <p>Preferred Contact</p>
          <p>massimo.rossi@gmail.com</p>
        </div>
      </div>

      <div id="reservations" class="pending col-6">
        <h2>Pending Reservations</h2>
        <div class="pending-card">
          <div class="pending-header">
            <h4>Tuna Steak Course</h4>
            <h4>14 February 2021</h4>
          </div>
          <p>Requested by: Linda Evangelista</p>
        </div>
      </div>
    </div>
    <div id="approved-reservations" class="main-container">
      
    </div>
    <div id="my-courses" class="main-container">
      
    </div>
  </div>
</div>
