// Import your components CSS files here.

@import 'alert';
@import 'avatar';
@import 'navbar';
@import 'course';
@import 'course_card';
@import 'courses_filter';
@import 'footer';
@import 'my_bookings_card';
@import 'review_text_box';
@import 'new_course';
@import 'pending_reservation_card';
@import 'approved_reservation_card';
@import 'text_area';
@import "my_courses_modal";

.standard-btn {
  background-color: #d9bd54;
  color: white;
  padding: 8px;
  border-style: none;
  border-radius: 4px;
  transition: 0.3s;
}

.standard-btn:hover {
  background-color: $dark-green;
}
