.card-product {
  margin-bottom: 15px;
  overflow: hidden;
  height: 10vw;
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product a {
  color: $dark-green;
}

.card-product a:hover {
  text-decoration: none;
  color: #D9BD54;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  height: 21vh;
  width: 50vw;
  padding: 10px 0px 0px 16px;
}

.card-product .chef-status {
  height: 21vh;
  width: 17vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 4px;
    margin-left: 4vw;
  }

  .booking-status {
    font-weight: bold;
    font-size: 16px;
    opacity: 1;
  }
}
