.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 4px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.brand {
  display: flex;
  align-items: center;
  font-family: Yeon Sung;

  #nav-logo {
    width: 60px;
    margin-left: 5.3vw;
  }

  p {
    margin: 0;
    font-size: 30px;
  }
}

.nav-item {
  font-size: 20px;
}
